@page
@model Items.Pages.Item.GetAllItemsModel
@{
}

<h1>Items</h1>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model.Items)
        {
            <tr>
                <td>
                    @i.Id
                </td>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Price
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-page="CreateItem"> Create a new Item </a>
</p>