@page
@model Items.Pages.Order.OrderItemModel
@{
}
<form method="post">    
    <div class="form-group">
        <label asp-for="Count" class="control-label"></label>
        <input asp-for="Count" class="form-control" />
        @*<span asp-validation-for="Order.Count" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <input type="submit" value="Bestil" class="btn btn-primary"
    </div>
</form>